/PerClinic/nbproject/private/
/PetClinic/nbproject/private/
/PetClinic/build/
/PetClinic/dist/
/SQLite/nbproject/private/
/SQLite/build/
/GUI1/nbproject/private/
/GUI1/build/
/GUI2/nbproject/private/
/GUI3/nbproject/private/
/GUI2/build/